@use "../../variables.scss" as *;

.menuContainer{
    background: $color-black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 5;
    width: 100%;
    margin-top: 50px;

    &__items{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: bolder;
        color: $color-white;
    }

    &__items:hover{
        background-color: $color-white;
        color: #242424;
        transition: all 0.5s ease;

    }



}